body {
    width: 100%;
    margin: 0%;
    height: 100%;
    position: absolute;
    overflow: auto;
}

div {
    overflow: auto;
}

.inl-bck {
    display: inline-block;
    border: 1px black solid;
    margin: 0;
    top: 0%;
    padding: 0;
    height: 99.75%;
    position: absolute;
}

.mid-blck {
    width: 6.65%;
    left: 63.1%;
}

#lft-blck {
    width: 63%;
    left: 0%;
}

#rght-blck {
    width: 30%;
    right: 0%;
}

.inl-bck > div{
    position: relative;
    border: 1px black solid;
    text-align:center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#rgt-bgr {
    background-color: lightgreen;
    height: 79.83%;
}

.lsr-blck {
    background-color: cornflowerblue;
    height: 19.6%;
}

#lft-bgr {
    background-color: azure;
    height: 60%;
}

.header {
    border: 1px solid;
    background-color: aliceblue;
    width: 46%;
    
}

#txt-elem-up {
    text-align: left;
}

#txt-elem-dwn {
    text-align: right;
}

.dv-element {
    display: inline-block;
    width: 39%;
}

.text {
    text-align: center;
}

#rgt-bot {
    background-color:coral;
}

a {
    color:azure;
    text-decoration: none;
}

img {
    height: 50%;
    width: 50%;
}

#map-img {
    height: 85px;
    width: 233px;
}

nav {
    margin: 0%;
    padding: 0;
}

nav > a {
    display: inline-block;
    padding: 0.5%;
    margin: 0%;
}

nav > a:hover {
    background-color: blue;
}

nav > a:visited {
    color: rgb(207, 202, 202);
}
